{% extends 'base.html.twig' %}

{% block title %}Nous contacter{% endblock %}

{% block content %}
<div class="col-md-8">{{ form(form) }}</div>

<div class="col-md-4">
<strong>DJ MICHE</strong>
<hr>
06 66 33 25 88
11 rue de 

</div>
{% endblock %}
