{% include 'header.html' %}
    Body
{% include 'footer.html' %}

{% block content %}
<h1>Inscription</h1>

{{ form(form) }} {#appel la vue form ds registerControler, cela va créer automatiquement un formulaire#}

{% endblock %}